### Environment
env/


### Python ###
__pycache__/
*.py[cod]


### Django ###
*.log
*.pot
*.pyc
__pycache__/
admin/
db.sqlite3
media
settings/prod.py
key.py
favicon/

### Devops ###
Dockerfile.local
docker-compose.yml
deploy.py
