{% load static %}
<html>
    <head>
        <title>Andrei Lozhkin</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/fontello.css' %}">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Inconsolata" />

    </head>

    <body>
      <div class="grid-layout">

        <!--START HEADER SECTION-->
        <header class="header">
          <div class="header-container">
            <h1 class="header__name"><a href="/">ANDREI LOZHKIN</a></h1>
            <nav class="header__nav">
              <ul>
                <li><a href="#about" onclick="collapseMenu()">About</a></li>
                <li><a href="#resume" onclick="collapseMenu()">Resume</a></li>
                <li><a href="#projects" onclick="collapseMenu()">Projects</a></li>
              </ul>
            </nav>
            <a href="javascript:void(0)" class="mobile-menu" onclick="toggleMenu()">
              <span class="icon-menu"></span>
            </a>
          </div>
        </header>
        <!--END HEADER SECTION-->

        <!--START MAIN CONTENT-->
        <main class="main">

          <!--START HERO SECTION-->
          <section class="hero-wrapper">
            <div class="hero-container">
              <img class="avatar" src="{% static 'main/img/avatar.jpg' %}" alt="avatar">
              <h2 class="mt-1"> Hello, World! </h2>
              <div class="social-icons">
                <a href="#linkedin" class="icon icon-linkedin-squared"></a>
                <a href="#facebook" class="icon icon-facebook-squared"></a>
                <a href="#github" class="icon icon-github-squared"></a>
              </div>
            </div>
          </section>
          <!--END HERO SECTION-->

          <!--START CLI ABOUT SECTION-->
          <a class="anchor-offset--about" id="about"></a>
          <section class="about-wrapper" >
            <div class="about-container">
              <div class="cli">
                <div class="cli-tab">
                  <p>about.py</p>
                </div>
                <p class="cli-code">
                  <span class="cli-command"> >>> from web_developers import Andrei </span><br><br>

                  <span class="cli-command"> >>> Andrei.origin </span><br>
                  Syktyvkar, RU <br><br>

                  <span class="cli-command"> >>> Andrei.education </span><br>
                  major: “Petroleum Engineering”<br>
                  university: “Ukhta State Technical University”<br>
                  graduation_year: 2016<br><br>

                  <span class="cli-command"> >>> Andrei.work_experience.latest </span><br>
                  company: “MSNA Group”<br>
                  role: “Webmaster”<br>
                  start_date: “February 2018”<br>
                  end_date: “May 2019”<br><br>

                  <span class="cli-command"> >>> Andrei.resume </span><br>
                  <a href="{% static 'main/CV - Andrei Lozhkin.pdf' %}" download> andrei_lozhkin.pdf </a><br><br>

                  <span class="cli-command"> >>> Andrei.email </span><br>
                  <a href="mailto:andreilozhkindev@gmail.com">andreilozhkindev@gmail.com</a><br><br>

                  <span class="cli-command"> >>> exit() </span>
                </p>
              </div>
            </div>
          </section>
          <!--END CLI ABOUT SECTION-->

          <!--START RESUME SECTION-->
          <a class="" id="resume"></a>
          <section class="resume-wrapper">
            <div class="resume-container">
              <h2 class="mt-1">RESUME</h2>
              <div>
                <h3>WORK EXPERIENCE</h3>
                <div class="pt-1 line-separator"></div>
                <div class="resume-card">
                  <img class="resume-card__image" src="{% static 'main/img/avatar.jpg' %}" alt="MSNA Group"/>
                  <div class="resume-card__content">
                    <div class="resume-card__head">
                      <div>
                        <p class="card__company-name">MSNA Group</p>
                        <p class="card__role">Webmaster</p>
                      </div>
                      <div>
                        <p class="card__year">2018 - 2019</p>
                        <p class="card__city">Bangkok, TH</p>
                      </div>
                    </div>
                    <div class="mt-1 card__summary">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, consectetur adipisicing elit
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                      </p>
                    </div>
                  </div>
                </div>
                <div class="resume-card">
                  <img class="resume-card__image" src="{% static 'main/img/avatar.jpg' %}" alt="MSNA Group"/>
                  <div class="resume-card__content">
                    <div class="resume-card__head">
                      <div>
                        <p class="card__company-name">Peace And Happiness Foundation</p>
                        <p class="card__role">Webmaster</p>
                      </div>
                      <div>
                        <p class="card__year">2322 - 2022</p>
                        <p class="card__city">Bangkok, TH</p>
                      </div>
                    </div>
                    <div class="mt-1 card__summary">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, consectetur adipisicing elit
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                      </p>
                    </div>
                  </div>
                </div>
                <div class="resume-card">
                  <img class="resume-card__image" src="{% static 'main/img/avatar.jpg' %}" alt="MSNA Group"/>
                  <div class="resume-card__content">
                    <div class="resume-card__head">
                      <div>
                        <p class="card__company-name">MSNA Group</p>
                        <p class="card__role">Webmaster</p>
                      </div>
                      <div>
                        <p class="card__year">2322 - 2022</p>
                        <p class="card__city">Bangkok, TH</p>
                      </div>
                    </div>
                    <div class="mt-1 card__summary">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, consectetur adipisicing elit
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <h3>EDUCATION</h3>
                <div class="pt-1 line-separator"></div>
                <div class="resume-card">
                  <img class="resume-card__image" src="{% static 'main/img/avatar.jpg' %}" alt="MSNA Group"/>
                  <div class="resume-card__content">
                    <div class="resume-card__head">
                      <div>
                        <p class="card__company-name">MSNA Group</p>
                        <p class="card__role">Webmaster</p>
                      </div>
                      <div>
                        <p class="card__year">2018 - 2019</p>
                        <p class="card__city">Bangkok, TH</p>
                      </div>
                    </div>
                    <div class="mt-1 card__summary">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, consectetur adipisicing elit
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                      </p>
                    </div>
                  </div>
                </div>
                <div class="resume-card">
                  <img class="resume-card__image" src="{% static 'main/img/avatar.jpg' %}" alt="MSNA Group"/>
                  <div class="resume-card__content">
                    <div class="resume-card__head">
                      <div>
                        <p class="card__company-name">MSNA Group</p>
                        <p class="card__role">Webmaster</p>
                      </div>
                      <div>
                        <p class="card__year">2322 - 2022</p>
                        <p class="card__city">Bangkok, TH</p>
                      </div>
                    </div>
                    <div class="mt-1 card__summary">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, consectetur adipisicing elit
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                      </p>
                    </div>
                  </div>
                </div>
                <div class="resume-card">
                  <img class="resume-card__image" src="{% static 'main/img/avatar.jpg' %}" alt="MSNA Group"/>
                  <div class="resume-card__content">
                    <div class="resume-card__head">
                      <div>
                        <p class="card__company-name">MSNA Group</p>
                        <p class="card__role">Webmaster</p>
                      </div>
                      <div>
                        <p class="card__year">2322 - 2022</p>
                        <p class="card__city">Bangkok, TH</p>
                      </div>
                    </div>
                    <div class="mt-1 card__summary">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, consectetur adipisicing elit
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!--END RESUME SECTION-->

          <!--START PROJECTS SECTION-->
          <a class="" id="projects"></a>
          <h2 class="mt-2" style="color:white">PROJECTS</h2>
          <section class="projects-grid">
            <a href="#project" class="project__card">
              <img class="project__image" src="{% static 'main/img/avatar.jpg' %}"/>
              <p class="mt-1 project__summary">
                Joined a team of product and software engineers within IDEO to design, prototype, build and ship digital products. Worked as both a designer and developer on a variety of internal and client projects.
              </p>
            </a>
            <a href="#project#" class="project__card">
              <img class="project__image" src="{% static 'main/img/avatar.jpg' %}"/>
              <p class="mt-1 project__summary">
                Joined a team of product and software engineers within IDEO to design, prototype, build and ship digital products. Worked as both a designer and developer on a variety of internal and client projects.
              </p>
              <div class="mt-1">
                <span href="#CSS" class="project__tag">Django</span>
                <span href="#CSS" class="project__tag">React</span>
                <span class="project__tag">HTML</span>
                <span href="#CSS" class="project__tag">CSS</span>
                <span href="#CSS" class="project__tag">CSS</span>
                <span href="#CSS" class="project__tag">CSS</span>
              </div>
            </a>
          </section>
          <!--END PROJECTS SECTION-->
        </main>
        <!--END MAIN CONTENT-->

        <!--START FOOTER-->
        <footer class="footer">
          <p>© 2019 Andrei Lozhkin.</p>
        </footer>
        <!--END FOOTER-->
      </div>
    </body>
    <script type="text/javascript" src="{% static 'main/js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/zenscroll-min.js' %}"></script>
</html>
